.addUser {
    width: 100%;
    height: 82.7vh;
    background-color: var(--background);
    padding: 20px 25px;
  
    .addCont {
      height: 100%;
      width: 100%;
      border-radius: 6px;
      overflow-y: scroll;
      background: white;

      box-shadow: var(--boxshadow2);
    }
  
    .addHead {
      background: var(--light);
      padding: 18px 26px;
      border-bottom: var(--lineBorder);
    }
  
    .addHead h5 {
      color: var(--lightBlue);
      margin-bottom: 0px;
      font-size: 22px;
    }
  
    .addForm {
      height: 400px;
      max-height: 100%;
      margin: 12px 26px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  
    .allOrder  {
      display: flex;
      flex-direction: column;
      width: 48%;
      margin-bottom: 12px;
      margin-top: 5px;
    }
  
    .allOrder h5{
        font-size: 22px;
        color: var(--lighGrey);
    }
  
    .allOrder div{
        display: flex;
        align-items: center;
        margin-right: 19px;
    }
  
    .allOrder label {
        font-size: 19px;
        color: var(--lighGrey);
        margin: 0px 9px;
  
    }
    
    .allOrder input {
      transform: scale(1.3);
    }
  }
  