.loginheader{
    width: 100%;
    align-self: center;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loginheader img {
    width: 90px;
    cursor: pointer;
}

.lg_items{
    display: flex;
    margin-right: 8px;
}

.lg_items a{
    font-size: 18px;
    color: white;
    font-weight: 600;
    padding: 8px 10px;
    text-decoration: none;
    margin: 0px 10px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    font-family: var(--font-family-sans-serif);
}
.lg_items a:hover{
    background: var(--firstGradient);
    border: 1px solid white;
}